a {
	text-decoration: none;
	width: 100%;
}

.row {
	width: 100% !important;
}

.txthistory {
	box-shadow: 0 0 0 0 !important;
	border: 0 none !important;
	outline: 0 !important;
	width: 100% !important;
	resize: none !important;
	background-color: white !important;
}

strong {
	color: red;
	font-size: 18px;
}

.fluigicon-calendar {
	cursor: pointer;
}

.br {
	display: none;
}

.star {
	cursor: pointer;
}

.borderColorRedDanger {
	border-color: #d43f3a;
}

.bootstrap-tagsinput input {
	width: 100% !important;
}

@media print {
	.fluig-style-guide .col-md-1,
	.fluig-style-guide .col-md-2,
	.fluig-style-guide .col-md-3,
	.fluig-style-guide .col-md-4,
	.fluig-style-guide .col-md-5,
	.fluig-style-guide .col-md-6,
	.fluig-style-guide .col-md-7,
	.fluig-style-guide .col-md-8,
	.fluig-style-guide .col-md-9,
	.fluig-style-guide .col-md-10,
	.fluig-style-guide .col-md-11,
	.fluig-style-guide .col-md-12 {
		float: left;
	}
	.fluig-style-guide .col-md-12 {
		width: 100%;
	}
	.fluig-style-guide .col-md-11 {
		width: 91.66666667%;
	}
	.fluig-style-guide .col-md-10 {
		width: 83.33333333%;
	}
	.fluig-style-guide .col-md-9 {
		width: 75%;
	}
	.fluig-style-guide .col-md-8 {
		width: 66.66666667%;
	}
	.fluig-style-guide .col-md-7 {
		width: 58.33333333%;
	}
	.fluig-style-guide .col-md-6 {
		width: 50%;
	}
	.fluig-style-guide .col-md-5 {
		width: 41.66666667%;
	}
	.fluig-style-guide .col-md-4 {
		width: 33.33333333%;
	}
	.fluig-style-guide .col-md-3 {
		width: 25%;
	}
	.fluig-style-guide .col-md-2 {
		width: 16.66666667%;
	}
	.fluig-style-guide .col-md-1 {
		width: 8.33333333%;
	}
	.fluig-style-guide .col-md-pull-12 {
		right: 100%;
	}
	.fluig-style-guide .col-md-pull-11 {
		right: 91.66666667%;
	}
	.fluig-style-guide .col-md-pull-10 {
		right: 83.33333333%;
	}
	.fluig-style-guide .col-md-pull-9 {
		right: 75%;
	}
	.fluig-style-guide .col-md-pull-8 {
		right: 66.66666667%;
	}
	.fluig-style-guide .col-md-pull-7 {
		right: 58.33333333%;
	}
	.fluig-style-guide .col-md-pull-6 {
		right: 50%;
	}
	.fluig-style-guide .col-md-pull-5 {
		right: 41.66666667%;
	}
	.fluig-style-guide .col-md-pull-4 {
		right: 33.33333333%;
	}
	.fluig-style-guide .col-md-pull-3 {
		right: 25%;
	}
	.fluig-style-guide .col-md-pull-2 {
		right: 16.66666667%;
	}
	.fluig-style-guide .col-md-pull-1 {
		right: 8.33333333%;
	}
	.fluig-style-guide .col-md-pull-0 {
		right: auto;
	}
	.fluig-style-guide .col-md-push-12 {
		left: 100%;
	}
	.fluig-style-guide .col-md-push-11 {
		left: 91.66666667%;
	}
	.fluig-style-guide .col-md-push-10 {
		left: 83.33333333%;
	}
	.fluig-style-guide .col-md-push-9 {
		left: 75%;
	}
	.fluig-style-guide .col-md-push-8 {
		left: 66.66666667%;
	}
	.fluig-style-guide .col-md-push-7 {
		left: 58.33333333%;
	}
	.fluig-style-guide .col-md-push-6 {
		left: 50%;
	}
	.fluig-style-guide .col-md-push-5 {
		left: 41.66666667%;
	}
	.fluig-style-guide .col-md-push-4 {
		left: 33.33333333%;
	}
	.fluig-style-guide .col-md-push-3 {
		left: 25%;
	}
	.fluig-style-guide .col-md-push-2 {
		left: 16.66666667%;
	}
	.fluig-style-guide .col-md-push-1 {
		left: 8.33333333%;
	}
	.fluig-style-guide .col-md-push-0 {
		left: auto;
	}
	.fluig-style-guide .col-md-offset-12 {
		margin-left: 100%;
	}
	.fluig-style-guide .col-md-offset-11 {
		margin-left: 91.66666667%;
	}
	.fluig-style-guide .col-md-offset-10 {
		margin-left: 83.33333333%;
	}
	.fluig-style-guide .col-md-offset-9 {
		margin-left: 75%;
	}
	.fluig-style-guide .col-md-offset-8 {
		margin-left: 66.66666667%;
	}
	.fluig-style-guide .col-md-offset-7 {
		margin-left: 58.33333333%;
	}
	.fluig-style-guide .col-md-offset-6 {
		margin-left: 50%;
	}
	.fluig-style-guide .col-md-offset-5 {
		margin-left: 41.66666667%;
	}
	.fluig-style-guide .col-md-offset-4 {
		margin-left: 33.33333333%;
	}
	.fluig-style-guide .col-md-offset-3 {
		margin-left: 25%;
	}
	.fluig-style-guide .col-md-offset-2 {
		margin-left: 16.66666667%;
	}
	.fluig-style-guide .col-md-offset-1 {
		margin-left: 8.33333333%;
	}
	.fluig-style-guide .col-md-offset-0 {
		margin-left: 0;
	}
	.next-page {
		page-break-inside: avoid;
	}
	.button {
		visibility: hidden;
	}
	.btn-insert {
		visibility: hidden;
	}
	.btn-delete {
		visibility: hidden;
	}
	.hidden-print {
		visibility: hidden;
	}
	.br-p {
		display: initial;
	}
}

@media (max-width: 1102px) {
	.adj-padding {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

@media (min-width: 1102px) {
	.adj-padding {
		padding-left: 0px !important;
	}
	.adj-padding:nth-child(3) {
		padding-right: 0px !important;
	}
}